.message_container {
    border: 10px solid rgb(99, 96, 96);
    border-image-slice: 1;
    border-width: 3px;
    margin: 5px;
    border-radius: 1em;
    padding: 10px;
}

.message {
    color: white;
}