.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.header__logo {
    background-color: #031d4e;
    height: 100px;
    flex-basis: 9%;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo img {
    width: 90px;
    height: 90px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #291647, #260a72);
}







.header__content {
    display: flex;
    background-color: #031d4e;
    height: 100px;
    flex-basis: 90%;
    border-radius: 1em;
}

.header__navigation{
    flex-basis: 70%;
}




.header__auth{
    display: flex;
    flex-basis: 25% ;
    justify-content:flex-end;
    align-items: center;
}




.header__auth-y{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(118, 131, 156);
    border-radius: 4px;
    padding: 10px;
    transition: all .5s;
}

.auth__img img{
    width: 25px ;
    height: 25px;
    filter: invert(1);
}
.auth__login{
    margin-left: 10px;
    color: white;
}

.header__auth-y:hover{
background: #4CAF50;
border: 2px solid #4CAF50;
transition: all .5s;

}



.header__auth-n{
    display: flex;
}

.auth__login{
margin-right: 5px;

}
.auth__registration{


}
.auth__btn{
    color: white;
    border: 2px solid rgb(118, 131, 156);
    border-radius: 4px;
    padding: 10px;
    transition: all .3s;
}
.auth__btn:hover{
    width: 100%;
    background: #4CAF50;
    border: 2px solid #4CAF50;
    transition: all .5s ;
    
}






