* {
  background-color: rgb(189, 228, 238);
}

.wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr; */
}

.container {}

.button {
  display: inline-block;
  background: red;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  transition: .3s;
}
.button:hover {
  transform: scale(1.05);
}


