

.wrapper {
  background-color: rgb(189, 228, 238);
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.container {
  width: 1200px;
}

.button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  transition: .3s;
}
.button:hover {
  transform: scale(1.05);
}


