.profile {
    background-color: #031d4e;
    display: flex;
    flex-direction: column;
}

.profile__user {
    padding-bottom: 5em;
    border-bottom: solid;
}

.user__background_img {
    position: relative;
    max-width: 840px;
}

.user__background_img img {
    width: 100%;
    max-height: 200px;
    border-radius: 4px;
}

.user__avatar {
    position: absolute;
    display: inline-block;
    transform: translateX(85%) translateY(-50%);

}

.user__avatar img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    border: 5px solid rgb(156, 157, 255);
}

.user__name_and_status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    margin-right: 30%;
    color: ivory;
}

.user__name {
    font-size: x-large;
}

.user__status {
    display: flex;
    justify-content: center;
    min-width: 200px;
    margin-top: 1em;
    border: 1px solid;
    border-radius: 2px;
    padding: 5px;
}

.profile__posts {
    padding-top: 1em;
}







.description__container{
    color: white;
    display: flex;
    padding: 10px;
    margin-top: 15px;
}

.user__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.user_block{
    margin-bottom: 10px;
}
.about__me{
    margin-bottom: 5px;
}
.about__job{}
.contacts{
    
}
.contact__item{
    margin-bottom: 10px;
    padding-left: 10px;
}