.body {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

/* ============ */
.navigation{
    flex-basis: 22%;
    background-color: #031d4e;
    border-radius: 1em;
    max-width: 257px;
    max-height: 445px;
}
.content {
    flex-basis: 75%;
    background-color: #031d4e;
    border-radius: 1em;
    padding: 1em;
}
/* ============ */

