.posts{
    
}



/* .profile__post {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 90%;
    height: 90%;
    background: rgb(118, 131, 156);
    border-radius: 1em;
} */

