.unselected_page{
    transition: all .3s;
    background-color: #ddd6d6;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    flex-basis: 20%;
    margin: 5px;
    border-radius: 4px;
}
.selected_page {
    transition: all .3s;
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    flex-basis: 20%;
    margin: 5px;
    border-radius: 4px;
}

.users__container {
    display: flex;
    justify-content: space-around;
}
.users__button_paginator{
    display: flex;
    align-items: center;
}
.users__button_paginator button{
    font-size: small;
    font-weight: 700;
    color: white;
    background: transparent;
    border: 2px solid rgb(118, 131, 156);
    border-radius: 4px;
    padding: 15px 32px;
    margin-left: 5px;
    transition: all .5s;
}
.users__button_paginator button:first-child{
    margin-right: 5px;
}
.users__button_paginator button:hover{
    background: #4CAF50;
    border: 2px solid #4CAF50;
    transition: all .3s;
}
.users__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aqua;
}